pymysql
mysql-connector-python 
ipykernel
pandas
numpy
python-dotenv
faker
langchain_ibm
transformers
torch
transformers
peft
openpyxl
gradio
streamlit
plotly
nbformat
matplotlib
seaborn
uvicorn
fastapi
asyncio
pydantic
ibm_watson_machine_learning
statsmodels
pmdarima
scikit-learn